div.connecting_message {
	flex-grow: 1;
	color: #323232;
	padding: .8em;
}

div.waiting_for_server {
	text-align: center;
}

div.connecting_message h1 {
	text-align: center;
	font-weight: normal;
	font-size: 1.5em;
}