div.games {
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	width: 15%;
	min-width: 8.5em;
	max-width: 15em;
	padding: 1em .5em 0 0;
	overflow-y: auto;
}

a.nav_game {
	font-size: .85em;
	color: #5c5c5c;
	text-decoration: none;
	display: flex;
	flex-direction: column;
	margin-top: 1em;
	padding: .4em .5em;
	border-radius: 4px;
}

a.nav_game:first-child {
	margin-top: 0;
}

a.nav_game.on {
	background: #d8d8d8;
	box-shadow: 0 0 3px rgba(0, 0, 0, .4);
}

a.nav_game:hover {
	text-decoration: none;
}

a.nav_game.off:hover div.nav_game_title {
	text-decoration: underline;
}

div.nav_game_title {
	display: flex;
	justify-content: space-between;
	flex-grow: 1;
}

div.nav_game_timing_style {
	flex-shrink: 0;
	margin-left: .45em;
}

div.nav_game_clock {
	align-self: flex-start;
}